/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  :root {
    --background: #FFFFFF;
    --textColor: #020817;
    --AccentColor: #1E90FF;
    --primary: #1E90FF;
    --backgroundCard: #FFFFFF;
  }

  .dark {
    --background: #1c1c1d;
    --textColor: #ffffff;
    --AccentColor: #0e3fde;
    --primary: #0e3fde;
    --backgroundCard: #363636;

    --font-sans: "Rubik", sans-serif;

  }

}


@theme {
  --color-background: var(--background);
  --color-textColor: var(--textColor);
  --color-AccentColor: var(--AccentColor);
    --color-primary: var(--primary);
  --color-backgroundCard: var(--backgroundCard);

  --font-family-sans: var(--font-sans);
}





